.person-info {
    padding: 16px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
  }
  
  .icon-button {
    display: flex;
    background: none;
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    border: none;
  }
.arrow-icon{
    margin-top: 10px;
    background-color: white;
    width: 40px;
    height: 36px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 40px;

}

.noti-icon{
    position: absolute;
    margin-left: 70px;
    width: 50px;
    margin-top: 15px;
}
  
  .username-box {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 38px;
    height: 30px;
    width: 120px;
    text-align: right;
    font-size: 18px;
  }
  
  .username-box p {
    margin-top: 0px;
    font-size: 12px;
  }
  
  .profile-icon {
    width: 50px;
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
    margin-left: 173px;
    background-color:red;
    border-radius: 50px;
  }
  
  .planning .course-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  
  .course-card {
    background: lightgray;
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
  }
  
  .course-icon {
    font-size: 32px;
  }
  